/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

.#project.clj

.#project.clj

src/iclc/.#core.clj

src/kaos/.#live.clj

src/bohrbug/.#core.clj

src/kaos/.#core.clj

src/newtonian/.#kaosnewt.clj
